:root {
  --primary-color: #111;
  --secondary-color: #818181;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucida Sans Typewriter;
}

body {
  transition: background-color .5s;
}

.title {
  height: 200px;
}
