:root {
  --primary-color: #111;
  --secondary-color: #818181;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucida Sans Typewriter;
}

body {
  transition: background-color .5s;
}


header {
  height: 175px;
}

header h1 {
  padding-top: 25px;
  font-size: 100px;
  text-align: center;
}

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: white;
  font-size: 20px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--secondary-color);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  cursor: pointer;
  font-size: 30px;
  width: 50px;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  transition: margin-left .5s;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}

#main:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.header img {
  width: 100px;
  height: auto;
  margin-right: 50px;
  margin-top: 15px;
  position: absolute;
  right: 50px;
  top: 15px;
}

.section-title {
  color: var(--primary-color);
  border-bottom: 3px solid;
  padding: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  font-size: 55px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.hero-image {
  font-size: 45px;
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 50px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
}

.hero-image h2 {
  margin-top: 70px;
}

.hero-cta {
  width: 80%;
  text-align: center;
  margin: 3.5%;
  color: black;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-size: 45px;
  color: var(--primary-color);
}

.links img {
  width: 300px;
  height: 80px;
  transition: 0.3s ease-in-out;
  margin: 0 50px 50px 50px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

.links img:hover {
  transform: scale(1.1);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: black;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-form {
  text-align: center;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--primary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--primary-color);
  width: 90%;
  margin: 5px auto 15px auto;
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 90%;
  border: none;
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 25px;
  font-size: 16px;
}

.contact-form button:hover {
  background: var(--secondary-color);
}

.contact-form h3 {
  margin: 25px;
  font-size: 35px;
  color: var(--primary-color);
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soup {
  margin: 100px auto;
  width: 600px;
  height: 300px;
  font-size: 35px;
  text-align: center;
  border: 1px solid #111;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
}

.soup h2 {
  margin-top: 70px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  footer h2 footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .contact-info iframe {
    flex: 1 100%;
  }

  .header img {
    margin: 0;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen AND (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }

  header h1 {
    display: none;
  }
  
  .hero-image h2 {
    margin-top: 70px;
    font-size: 35px;
  }
}
