:root {
  --primary-color: #111;
  --secondary-color: #818181;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color .5s;
}

.title {
  height: 200px;
}

.cards-title {
  font-size: 36px;
  text-align: center;
  color: var(--primary-color);
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;
}

.card {
  font-size: 25px;
  box-sizing: border-box;
  text-align: center;
  color: var(--primary-color);
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

.card p {
  font-size: 20px;
  padding: 10px;
}

.card img {
  width: 150px;
  height: 150px;
  padding: 5%;
}

.patrol {
  padding: 100px;
}

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: white;
  font-size: 20px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

@media screen and (max-width: 980px) {
  footer h2 footer div {
    text-align: center;
    width: 100%;
  }
}
